body{
    background:url(../myImg/new.jpg);
    background-repeat: repeat;
    position: relative;
    margin:0px!important;
    padding:0px;
}
#top-Bar{
    width: 100%;
    min-width: 1200px;
    margin-bottom: 20px;
    overflow: visible;
    background-color: teal;
}
.top-nav-container{
    width: 1200px;
    margin: 0px auto;
}
.clearfix::after{
    content: "";
    display: table;
    clear: both;
}
.clearfix::before{
    content: "";
    clear: both;
    display: table;
}
.top-logo{
    float: left;
    display: block;
    width: 30px;
    height: 40px;
    text-decoration: none;
    color: white;
    font-size: 30px;
}
.title{
    float: left;
    display: block;
    height: 40px;
    text-decoration: none;
    color: white;
    font-family:YouYuan;
    line-height: 40px;
    font-weight: 800;
    font-size: 25px;
    margin-left: 15px;
}
#none:hover{
    color: white;
    cursor: default;
    text-decoration: none;
}
.top-nav-list{
    float: left;
    display: block;
    height: 40px;
    line-height: 40px;
    text-decoration: none;
    color: white;
    font-size: 14px;
    margin-left: 14px;
    text-align: center;
}
.top-nav-list:hover{
    text-decoration: none;
}
.top-nav-list:active{
    text-decoration: none;
}
.top-nav-list:visited{
    text-decoration: none;
}

.seg{
    display: block;
    float: left;
    color: #E0E0E0;
    line-height: 40px;
    margin-left: 14px;
}
.logIn{
    float: right;
}
.exit{
    float: right!important;
}
.right{
    float: right;
}
.top-nav-container a:hover{
    text-decoration: none;
    color: rgba(0, 0, 0, .8);
    transition: all .2s;
}
#main-content-container{
    width: 1200px;
    margin: 0px auto;
}
.index:hover{
    text-decoration: none;
    transition: all .2s;
}
.info{
    width: 1200px;
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    background-color: #F0F0F0;
    height: 50px;
    border-radius: 10px;
}
.info a{
    text-align: center;
    text-decoration: none;
    color:teal;
}
.info a:hover{
    color: #01B468;
}
.info span{
    float: left;
    margin-left: 20px;
    height: 50px;
    line-height: 50px;
}
.info li{
    float: left;
    display: block;
    height: 50px;
    line-height: 50px;
    color: black;
    font-size: 16px;
    margin-left: 20px;
}

.return{
    float: right!important;
    margin-right: 15px;
}
/*投票项目显示CSS样式*/
#main-wrapper{
	position: relative;

	margin-top: 20px;
}
.operate-bar-container{
	height: auto;
    width: 1200px;
    margin-left: 0px;
}
.clearfix::before{
	content: "";
	display: table;
	clear: both;
}
.clearfix::after{
	content: "";
	display: table;
	clear: both;
}
#target-tb thead{
    font-size: 18px;
    font-weight: bold;
}
#target-tb tr td{
    vertical-align: middle;
}
.pro-name{
    color:	#00A600;
}
/* 右侧画布区域*/
#right-side-container{
    position: absolute;
    display: inline-block;
    width: 30%;
    height: 300px;
    top: 80px;
    right:0px;
    padding-left: 20px;
}


/*页面足底部样式*/
#footer{
    position: fixed;
    width: 100%;
    bottom: 0px;
}
.footer-container{
    position: relative;
    width:100%;
    margin: 0px auto;
    text-align: center;
}
.footer-container h4{
    font-family: '幼圆';
}
.ending{
    position: relative;
    width: 300px;
    list-style-type: none;
    padding: 0px;
    left: 50%;
    margin-left: -120px;
    margin-bottom: 0px!important;
}
.ft-str{
    color:white;
}
.ending li,span{
    float: left;
    margin-left: 5px;
}
.fa-css3{
    color: #0080FF;
}
.fa-html5{
    color: #FF2D2D;
}

