body{
    background:url(../myImg/new.jpg);
    background-repeat: repeat;
    position: relative;
    margin:0px!important;
    padding:0px;
}
#top-Bar{
    width: 100%;
    min-width: 1200px;
    margin-bottom: 20px;
    overflow: visible;
    background-color: teal;
}
.top-nav-container{
    width: 1200px;
    margin: 0px auto;
}
.clearfix::after{
    content: "";
    display: table;
    clear: both;
}
.clearfix::before{
    content: "";
    clear: both;
    display: table;
}
.top-logo{
    float: left;
    display: block;
    width: 30px;
    height: 40px;
    text-decoration: none;
    color: white;
    font-size: 30px;
}
.title{
    float: left;
    display: block;
    height: 40px;
    text-decoration: none;
    color: white;
    font-family:YouYuan;
    line-height: 40px;
    font-weight: 800;
    font-size: 25px;
    margin-left: 15px;
}
#none:hover{
    color: white;
    cursor: default;
    text-decoration: none;
}
.top-nav-list{
    float: left;
    display: block;
    height: 40px;
    line-height: 40px;
    text-decoration: none;
    color: white;
    font-size: 14px;
    margin-left: 14px;
    text-align: center;
}
.top-nav-list:hover{
    text-decoration: none;
}
.top-nav-list:active{
    text-decoration: none;
}
.top-nav-list:visited{
    text-decoration: none;
}
.seg{
    display: block;
    float: left;
    color: #E0E0E0;
    line-height: 40px;
    margin-left: 14px;
}
.logIn{
    float: right;
}
.exit{
    float: right!important;
}
.right{
    float: right;
}
.top-nav-container a:hover{
    text-decoration: none;
    color: rgba(0, 0, 0, .8);
    transition: all .2s;
}
#main-content-container{
    width: 1400px;
    margin: 0px auto;
}
.index:hover{
    text-decoration: none;
    transition: all .2s;
}
.info{
    width: 1000px;
    padding: 0px;
    list-style-type: none;
    background-color: #F0F0F0;
    margin:0px auto;
    height: 50px;
    border-radius: 10px;
}
.info a{
    text-align: center;
    text-decoration: none;
    color:teal;
}
.info a:hover{
    color: #01B468;
}
.info span{
    float: left;
    margin-left: 20px;
    height: 50px;
    line-height: 50px;
}
.info li{
    float: left;
    display: block;
    height: 50px;
    line-height: 50px;
    color: black;
    font-size: 16px;
    margin-left: 20px;
}

.return{
    float: right!important;
    margin-right: 15px;
}
/*投票项目显示CSS样式*/
#main-wrapper{
	position: relative;

	margin-top: 20px;
}
.operate-bar-container{
	height: auto;
    width: 720px;
    margin-left: 0px;
}
.clearfix::before{
	content: "";
	display: table;
	clear: both;
}
.clearfix::after{
	content: "";
	display: table;
	clear: both;
}
#target-tb thead{
    font-size: 18px;
    font-weight: bold;
}
#target-tb tr td{
    vertical-align: middle;
}
.pro-name{
    color:	#00A600;
}
/*中心画布区域*/
.chart{
    width: 1000px;
    height: 500px;
    text-align: center;
    margin: 0px auto;
    margin-top: 0px;
}

.QR-code{
    position: fixed;
    right:50px;
    top:100px;
}
.QR-img{
    height: 150px;
    width: 150px;
}
.right{
    float: right!important;
    margin-right: 30px;
}
.deadLine{
    height: 80px;
    width: 50%;
    margin: 0px auto;
    font-size: 2rem;
    font-weight: bold;
    text-align: left;
}
.showBar{
    height: 80%;
    width: 100%;
    margin: auto 0px;
}
.showBar span{
    display: inline-block!important;
    width: 18%;
    height: 80%;
    vertical-align: middle;
    margin-right:5px;
}
.seconds{
    margin-right: 0px!important;
}
.Center{
    text-align: center;
    color: red;
}
.wrapper{
    width: 50%;
    margin: 0px auto;
}
#closeInterval{
    display: block;
    width: 150px!important;
    margin: 0px auto!important;
}

.status{
    font-weight: bold;
}

#closes{
    margin-top: 50px!important;
}
.alert{
    position: fixed;
    width: 42px;
    height: 470px;
    right: 10px;
    top: 50%;
    margin-top:-185px;
    border-radius: 3px;
    border: 1px solid rgba(0, 0, 0,.2);
    background: rgba(0, 0, 0,.1);
    font-size: 2rem;
    font-weight: bold;
    text-align: left;
}


