html{
    font-size: 20px;
}
/*媒体查询设置实现适配自适应*/
@media only screen and (min-width: 401px){
    html {
        font-size: 25px !important;
    }
    .no-and-name ul{
    font-size: 0.4rem;
    padding-top: 5%;
    padding-left: 5%;
    text-align: center;
    margin-bottom: 0px!important;   
}
}
@media only screen and (min-width: 428px){
    html {
        font-size: 26.75px !important;
    }
    .no-and-name ul{
    font-size: 0.4rem;
    padding-top: 5%;
    padding-left: 5%;
    text-align: center;
    margin-bottom: 0px!important;   
}

}
@media only screen and (min-width: 481px){
    html {
        font-size: 30px !important; 
    }
    
}
@media only screen and (min-width: 569px){
    html {
        font-size: 35px !important; 
    }
   
}
@media only screen and (min-width: 641px){
    html {
        font-size: 40px !important; 
    }
    
}
/*以下为页面样式*/
.top-title-container{
    width: 90vw;
    margin: 0px auto;
}
.text-adapt{
    font-size: 1.3rem!important;
    text-align: center;
}
.myself{
    color: white;
    background-color: rgba(0,0,0,.8);
}
.items-container{
    width: 90vw;
    margin: 0px auto;
    margin-top: 1rem;
}
.items{
    padding-top: 1.3rem;
    width: 90vw;
    background-color: rgba(0,0,0,.05);
    margin-bottom: 3vh;
}
.item-group{
    float: left;
    width: 90vw;
    height: 32vh;
}
.pic{
    height: 80%;
    width: 92%;
    margin:0px auto;
}
.pic a{
    display: block;
    height: 100%;
    width: 100%;
}
.pic a img{
    display: block;
    height:100%;
    width:100%;
}
.no-and-name{
    width: 92%;
    height: 10%;
    margin: 0px auto;
}
.no-and-name ul{
    padding-top: 1%;
    padding-left: 0px;
    text-align: center;
    margin-bottom: 0px!important;   
    height: 100%;
    line-height: 100%;
    margin-top: 1rem;
}

.no-and-name ul li{
    font-weight: bold;
    float: left;
    list-style: none;
    height: 100%;
    font-size: 1.1em;
    width: 20%;
}
input[type=radio] {
    margin:0px!important;
    margin-top: 1px\9;
    line-height: normal;
}
.control{
    margin-left:28%;
}
.right{
    text-align: right;
}
.left{
    text-align: left;
}

.click{
    height: 10%;
    margin: 0px auto;
    width: 50%;
}
.c_name{
    float: right!important;
}

.radio{
    margin-left: 45%!important;
    margin-bottom: 0px!important;
}
#footer-container{
    margin-top: 5vh;
}
.footer{
    position: relative;
    padding-top: 1vh;
    height: 9vh;
    width: 90vw;
    margin:0px auto;
    text-align: center;
}
.footer h4{
    margin: 0px auto;
    font-size: 1rem;
}
.icon-container{
    width: 20vw;
    margin:0px auto;
    margin-top:10px;
}
.fa-css3{
    color: blue;
}
.fa-html5{
    color: red;
}
.submit{
    display: block;
    width: 90vw;
    margin:0px auto;
}
#submit{
    display: block!important;
    margin: 0px auto;
    margin-top: 5vh;
}
